/*This is my SSB Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my SSB Contact Web Page Project ------------ */

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	min-height: 100vh; 
	min-width: 100vw;
	background-image: url("images/nepal.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.center {
	position: relative; 
	width: 125%;
	max-width: 800px;
	padding: 2%;
	margin: 0px auto;
	background: rgba(235, 84, 84, 0.938);
	text-align: center;
	border: 4px dashed white;
	clear: both;
	
}


#logo {
	width: 15%;
	margin-bottom: 16px;
	border: 3px red;
	text-align: start;
}

.nav-logo {
	width: 7%;
	margin-bottom: 16px;
	border: 3px red;
	text-align: start;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: "Arvo", serif;
	font-size: 2em;
	margin: 0px auto 10px auto;
	color: #fff;
	font-weight: 700;
}

h2 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: "Arvo", serif;
	font-size: 2em;
	line-height: 2;
	color: #fff;
	font-weight: 500;
	text-align: center;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: "Arvo", serif;
	font-size: 1.2em;
	line-height: 1.6;
	color: #fff;
}

.paragraph2 {
	/* add your desired styles here, e.g. */
	font-family: "Arvo", serif;
	font-size: 1.2em;
	line-height: 1.6;
	color: #fff;
	margin-left: -20px;
  }
  
  .paragraph3 {
	position: relative; 
	font-family: "Arvo", serif;
	font-size: 1.2em;
	line-height: 1.6;
	color: #fff;
	margin: 20px; 
  }

.red-image {
	position: relative;
	right: 2%;
	float: left;
	margin-left: 20px;
	width: 350px;

}

.red-panda-image {
	position: relative;
	left: 2%;
	float: right;
	margin-right: 20px;
	width: 350px;

}

.redd {
	margin-top: 20px;
}

.red-panda2 {
	margin-top: 20px;
}

.red-pandahome {
	margin-top: 20px;
}

.red-pandahome2 {
	margin-top: 10px;
}

.support-red-pandas {
	position: relative;
	margin-right: 20px;
	max-width: 800px;
	width: 80%;
}

.Our-Vision {
	font-family: "Arvo", serif;
	font-size: 2em;
	margin: 0px auto 10px auto;
	color: #fff;
	font-weight: bold;
}


nav {
  font-family: "Arvo", serif;
  font-size: 1.6em;
  width: 100vw;
  left: 0;
  position: absolute;
  z-index: 1;
  padding: 0 20px;
  box-sizing: border-box;
  border: dashed white;
  border-width: 4px 0;
  text-align: center;
  margin-top: 1em;
  background-color: rgba(235, 84, 84, 0.938);
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  margin-right: 80px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 50px 15px 10px;
	display: block;
	font-size: 1.2em;
}

nav ul li a:hover {
	background-color: rgba(230, 134, 134, 0.815);
}

.donation-link {
	font-family: "Arvo", serif;
	font-size: 1.7em;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 50px;
	position: relative;
	top: 20px;
  }
  
  .donation-link:hover {
	background-color: #4513137e;
  }  

  .Instagram {
	font-family: "Arvo", serif;
	font-size: 3em;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 50px;
	position: relative;
	top: 20px;
  }
  
  .Facebook {
	font-family: "Arvo", serif;
	font-size: 3em;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 50px;
	position: relative;
	top: 20px;
  }

  .Twitter {
	font-family: "Arvo", serif;
	font-size: 3em;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 50px;
	position: relative;
	top: 20px;
  }

  .Youtube {
	font-family: "Arvo", serif;
	font-size: 3em;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 50px;
	position: relative;
	top: 20px;
}

.Instagram:hover {
	background-color: #4d1a1a98; 
	color: #333; 
	transform: scale(1.1); 
  }
  
  .Facebook:hover {
	background-color: #4d1a1a98; 
	color: #333;
	transform: scale(1.1);
  }
  
  .Twitter:hover {
	background-color: #4d1a1a98; 
	color: #333; 
	transform: scale(1.1); 
  }
  
  .Youtube:hover {
	background-color: #4d1a1a98; 
	color: #333; 
	transform: scale(1.1);
  }

.social-media-list {
	list-style: none;
  }

  .fa {
	padding: 40px; 
	font-size: 60px; 
	width: 100px;
	text-align: center;
	text-decoration: none;
  }

  .silly-red {
	margin-top: 20px; 
  }

  .pointing {
	margin-top: 20px;
  }


@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1em;
  }
  nav {
    flex-direction: column; /* add this line */
  }
  nav ul {
    flex-wrap: wrap;
  }
  nav ul li {
    margin-right: 20px;
  }
}
